<header class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="/home">
        <img class="img-navbar" src="../assets/img/logo.ico">
    </a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="this.dataStorage.user.adm">
                <a routerLink="/cart">
                    <button type="button" class="btn btn-outline-light">Cadastrar jogo</button>
                </a>
            </li>
            <li class="nav-item" *ngIf="!this.dataStorage.user.adm">
                <a routerLink="/cart" >
                    <img class="img-navbar" style="margin-right: 30px" src="../assets/img/cart.png">
                </a>
            </li>
            <li class="nav-item" *ngIf="!this.dataStorage.logged">
                <a routerLink="/login">
                    <button type="button" class="btn btn-outline-light">Login</button>
                </a>
            </li>
            <li class="nav-item" *ngIf="this.dataStorage.logged">
                <img class="img-navbar" src="../assets/img/user.png">
            </li>

        </ul>
    </div>

</header>
<router-outlet></router-outlet>
<footer class="navbar navbar-expand-lg navbar-dark bg-dark footer"></footer>