.card-filtro {
    margin-top: 50%;
}
.card-filtro-spacer {
    justify-content: space-between;
    display: flex;
}
.card-filtro-title {
    margin-top: auto;
    margin-bottom: auto;
}
.card-img {
    width: 30px;
    height: 30px;
}
.card-filter-button {
    padding: 0;
    margin: 0;
}
.card-btn-footer {
    width: 100%;
    height: 50px;
    background-image: url('../assets/img/cart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%; 
    background-color: white;
    border-radius: 10px;
}
.card-game-img {
    width: 80%;
}