<div class="card card-spacer">
    <div class="card-header" (click)="openModal(game)">
        <h3 class="card-title">
            {{game.name}}
        </h3>
    </div>
    <div class="card-body" (click)="openModal(game)">
        <img class="card-game-img" src="{{game.imgsrc}}">
        <p>
            <span class="badge badge-dark">{{game.tags}}</span>
        </p>
        <p>{{game.synopse}}</p>
        <p>{{game.releasedate}}</p>
        <p>{{game.developer}}</p>
        <p>{{game.editor}}</p>
        <p>{{game.gender}}</p>
        <p>{{game.rating}}</p>
        <h4>R$ {{game.price}},00</h4>
    </div>
    <div class="card-footer">
        <button class="card-btn-footer"  [ngClass]="{'bg-success':isInCart(game)}" (click)="addCart(game)">
        </button>

    </div>
</div>
    