/* You can add global styles to this file, and also import other style files */
.img-navbar {
    width: 40px;
    height: 40px
}
.navbar-spacer {
    justify-content: space-between;
}
.card-spacer {
    margin-bottom: 10px;
}
.footer {
    top: 100%;
    
}
.body-container {
    margin-top: 20px;
}

body {
    background-color: #737373;
}