<div class="container body-container">
    <div class="row">
        <aside class="col-12 col-sm-6 col-lg-3 ">
            <div class="sticky-top">
                <button id="toggler" class="navbar-toggler filter-toggler d-sm-block d-xs-block d-md-none d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#filter" aria-controls="filter"
                    aria-expanded="true" aria-label="Toggle navigation">
                    <i class="material-icons">filter_list</i>
                </button>
                <div id="filter" class="card collapse show">
                    <div class="card-header card-filtro-spacer">
                        <a class="card-filtro-title">Filtro</a>
                        <a class="btn card-filter-button" (click)="searchTitle()">
                            <img class="card-img" src="../assets/img/search.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <input type="search" placeholder="Pesquisar" [(ngModel)]="this.searchBox" >
                        <ul class="list-group list-group-flush" *ngFor="let gender of genders">
                            <li class="list-group-item">
                                <input type="checkbox" (click)="setFilter(gender)">
                                <label>{{gender}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </aside>
        <section class="col-12 col-sm-6 col-lg-9">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-6" *ngFor="let game of games">
                    <div class="card card-spacer">
                        <div class="card-header" (click)="openModal(game)">
                            <h3 class="card-title">
                                {{game.name}}
                            </h3>
                        </div>
                        <div class="card-body" (click)="openModal(game)">
                            <img class="card-game-img" src="{{game.imgsrc}}">
                            <p>
                                <span class="badge badge-dark">{{game.tags}}</span>
                            </p>
                            <p>{{game.synopse}}</p>
                            <p>{{game.releasedate}}</p>
                            <p>{{game.developer}}</p>
                            <p>{{game.editor}}</p>
                            <p>{{game.gender}}</p>
                            <p>{{game.rating}}</p>
                            <h4>R$ {{game.price}},00</h4>
                        </div>
                        <div class="card-footer">
                            <button class="card-btn-footer"  [ngClass]="{'bg-success':isInCart(game)}" (click)="addCart(game)">
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
